<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment response</title>
</head>
<body>

    <h1>Success</h1>
    <div>
        <div>
            <label>Payment reference:</label>
            <span>123</span>
        </div>
        <div>
            <label>Transaction Id:</label>
            <span>12345</span>
        </div>
    </div>
    
    <!-- This is a comment. It will not show up in the browser. -->

</body>
</html>
